body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

#top {
    background: #E6E7E8;
    flex: 0 0 20vh;
    text-align: center;
    position: relative;
    z-index: 1;
}

#mid {
    position: absolute;
    z-index: 2;
    margin-top: 165px;
}

#botton {
    background: #4B4B4D;
    flex: 1;
    position: relative;
    z-index: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#status {
    display: flex;
    width: 100vh;
    height: fit-content;
    justify-content: space-around;
}

#tarefasCriadas {
    font: 18px Arial;
    color: #00AFEF;
    margin-top: 5vh;
}

#tarefasConcluidas {
    font: 18px Arial;
    color: #00AFEF;
    margin-top: 5vh;
}

#taskList {
    display: flex;
    width: 100vh;
    list-style: none;
    padding: 0;
    padding-top: 30px;
    background-color: #373435;
    border-radius: 10px;
}

#task1 {
    display: flex;
    align-items: center;
}

#criar {
    color: white;
    width: 80px;
    height: 40px;
    background-color: #00AFEF;
    border: 0;
    border-radius: 10px;
    font: 18px Arial;
}

#txtInput {
    width: 520px;
    height: 35px;
    color: #E6E7E8;
    background-color: #373435;
    border-radius: 10px;
    font: 20px Arial;
}