body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.top {
    background: #E6E7E8;
    flex: 0 0 20vh;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.mid {
    position: absolute;
    z-index: 2;
    margin-top: 165px;
}

.botton {
    background: #4B4B4D;
    flex: 1;
    position: relative;
    z-index: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.status {
    display: flex;
    width: 100vh;
    height: fit-content;
    justify-content: space-around;
    border: 5px solid red;
}

.created-tasks {
    font: 18px Arial;
    color: #00AFEF;
    margin-top: 5vh;
}

.completed-tasks {
    font: 18px Arial;
    color: #00AFEF;
    margin-top: 5vh;
}

.create {
    color: white;
    width: 80px;
    height: 40px;
    background-color: #00AFEF;
    border: 0;
    border-radius: 10px;
    font: 18px Arial;
}

.input-text {
    width: 520px;
    height: 35px;
    color: #E6E7E8;
    background-color: #373435;
    border-radius: 10px;
    font: 20px Arial;
    margin: 0 auto;
}

.task-list {
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: fit-content;
    list-style: none;
    padding: 0;
    font: 20px Arial;
    border-radius: 10px;
    align-items: center;
    border: 5px solid red;
}

.delete-button {
    background-color: #373435;
}

.task-item {
    width: 610px;
    height: fit-content; 
    background-color: #373435;
    color: #E6E7E8;
    margin: 5px;
}